@main("Корабли") {
<div data-bind="visible: ships().length<1">
<br><br>
<h2 align="center">Уникальные боевые корабли</h2>
<br><br>
<div style="text-align: right">
	<em style="color: #FFF">
	Те корабли хороши и крепки и хорошо построены,<br>
	которые плывут не только при тихой погоде, а<br>
	сохраняются в бурю. Также и люди, противящиеся<br>
	гневу и ярости, и велики, и храбры.
	</em>
</div>
<br><br><br><br>
<p><b>Это база данных о характеристиках кораблей.</b></p>
<br>
<p><b>Некоторые участвовали во Второй Мировой войне, а другие так и остались макетами в конструкторском бюро.</b></p>
<br>
<p><b>В данный момент указаны интереснейшие модели по совокупности характеристик.</b></p>
</div>
@ships()
}
