@(field: Field, label: String, error: String, args: (Symbol,Any)*)
<div class="form-group@if(field.hasErrors || error != "") { has-error}">
	@if(label != "") {
	<label for="@field.name" class="control-label">@label</label>
	}
	<input name="@field.name" id="@field.name" class="form-control"@if(!field.value.isEmpty) { value="@field.value"} @toHtmlArgs(args.toMap) />
	@if(field.hasErrors || error != "") {
	<span class="help-block">
		@if(error == "") {Поле должно быть заполнено!}
		@if(error == "failed") {Неверный логин или пароль!}
		@if(error == "email") {Этот Email уже зарегистрирован!}
	</span>
	}
</div>
